@import "../../styles/colors";

.mainSection {
    background-blend-mode: multiply;
    background: url(../../assets/main-back.png) no-repeat center center;
    background-size: cover;
    background-color: rgba(255, 168, 0, 1);

    border-bottom: solid 4px $main-orange;
}