@import '../../../styles/fonts';
@import '../../../styles/colors';

.logoWrapper {
    height: 64px;
    padding: 25px 10em;
    background-color: rgba(0, 0, 0, 0.6);
}

.logo {
    font-family: $font-roboto;
    font-weight: 900;
    color: white;
}

.navigator {
    display: flex;
    align-items: center;

    height: 94px;
    padding: 25px 10em;
    background-color: $main-dark; 
}

.navigator__list {
    height: auto;
}
.navigator__item {
    font-family: $font-roboto;
    font-weight: 300;
    font-size: 30px;
    color: white;

    margin-right: 83px;
}

.navigator__item_active{
    font-weight: bold;
}

.header {
    background: url(../../../assets/main-back.png) no-repeat center center;
    background-color: rgba(255, 168, 0, 1);
    height: 947px;
}