@import '../../../../styles/mixins';

.howItWorkHeader {
    @include innerContentWrapper();

    justify-content: space-between;
    align-items: baseline;
}

.howItWorkHeader__title {
    width: 50%;
    font-size: 30px;
    text-transform: uppercase;
    color: white;
}

.howItWorkHeader__btn {
    display: flex;
    flex-direction: row-reverse;

    width: 50%;
    height: 32px;
}
.btn-more {
    @include additionalBtns();

    width: 47%;
    max-width: 325px;
    text-transform: uppercase;
}
.btn-more:hover {
    border: solid 1px white;
    background-color: white;
}