@import '../../../../../../../styles/colors';

.scheme {
    display: flex;
    height: 100px;
}
.coupe {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 70px;
}

// .top-block {
//     display: flex;
//     border-top: 2px solid #928F94;
//     border-left: 2px solid #928F94;
//     border-right: 2px solid #928F94;
//     height: 50%;
// }

.top-block {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

    border-top: 2px solid #928F94;
    border-left: 2px solid #928F94;
    border-right: 2px solid #928F94;
    height: 60%;
}

.place {
    max-width: 50%;
    height: 50%;
    background-color: #928F94;
    text-align: center;
    line-height: 3vh;
    cursor: pointer;
}
.place:hover {
    font-weight: 700;
    transition: 0.6s;
}
.place:focus {
    border: none;
}
.place:nth-child(-n + 2) {
    margin-right: 3px;
}
.place:nth-child(n + 3) {
    margin-left: 3px;
}
.active {
    font-weight: 700;
    border: solid 2px $main-orange;
}




.top-block__item {
    border-bottom: 2px solid #928F94; 
}

.bottom-block {
    border-left: 2px solid #928F94;
    border-bottom: 2px solid #928F94; 
    border-right: 2px solid #928F94;
    height: 15%;
}
.central-block {
    height: 25%;
}
.top-block__item {
    text-align: center;
    flex: 1 1 0px;
}
.text-hidden {
    opacity: 0;
}

.place-left {
    cursor: pointer;
    margin-right: .5vw;
}
.place-right {
    cursor: pointer;
    margin-left: .5vw;
}

.free {
    background-color: #F3F3F3;
}

.busy {
    background-color: #928F94;
    color: #FFFFFF;
}