.feedbackCard {
    display: flex;
    align-items: center;

    width: 50%;
}

.feedbackCard__img {
    width: 150px;
    height: 150px;

    background-repeat: no-repeat;
    background-position: 50%;
    object-fit: cover;
    border-radius: 50%;
}

.feedbackCard__description-wrap {
    padding: 0 20px;
}

.feedbackCard__name {
    font-size: 20px;
    font-weight: bold;
    line-height: 20px;
    padding-bottom: 10px;
}

.feedbackCard__text {
    font-size: 18px;
    font-style: italic;
    color: #928F94;
    line-height: 25px;
}