.time-card__time {
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
}

.time-card__city {
    font-size: 16px;
    text-transform: capitalize;
    color: #292929;
}

.time-card__railway {
    font-size: 14px;
    text-transform: capitalize;
    color:#928F94;
}