@import '../../styles/fonts';
@import '../../styles/mixins';

.feedbackSection {
    padding: 150px 80px;

    font-family: $font-roboto;
}

.feedbackSection__list {
    display: flex;

    padding-bottom: 70px;
}

.feedbackSection__title {
    @include innerContentWrapper();

    font-size: 30px;
    text-transform: uppercase;

    padding-bottom: 30px;
}