@import "../../styles/fonts";

.feedbackSection {
    padding: 150px 80px;

    font-family: $font-roboto;
}

.feedbackSection__list {
    display: flex;

    padding-bottom: 70px;
}

.feedbackSection__title {
    max-width: 1320px;
    margin: 0 auto;

    font-weight: 500;
    font-weight: bold;
    text-transform: uppercase;

    padding-bottom: 30px;
}