@import '../../../../styles/colors';
@import '../../../../styles/mixins';

.aboutSectionContent {
    @include innerContentWrapper();
}

.aboutDescription {
    font-size: 18px;
    padding-left: 9px;
    border-left: thick solid $main-orange;
}

.aboutDescription__item {
    margin-bottom: 10px;
}
.aboutDescription__item_bold {
    font-weight: bold;
}