@import '../../styles/colors';

.orderSection {
    position: relative;
}

.header {
    background: url(../../assets/orderpage.jpg) no-repeat center center;
    background-color: rgba(255, 168, 0, 1);
    height: 660px;
}