@import '../../../../styles/mixins';

.train-card {
    display: flex;
    max-width: 960px;
    background-color: #FFFFFF;
    border: solid 1px #C4C4C4;
}

.arrow-wrapp {
    display: flex;
    flex-direction: column;
    align-content: center;
}

.direction-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 200px;
    padding: 32px 25px;
}

.departure-info {
    width: 460px;
}

.seats-info {
    width: 300px;
    border-left: solid 1px #E5E5E5;
    position: relative;
}

.btn-wrapper {
    position: absolute;
    bottom: 0px;

    padding: 0px 32px 22px 22px;
}

.train-card__btn {
    @include searchBtns();
    
    max-width: 325px;
    height: 40px;
    padding: 5px 15px;
    a {
        font-weight: 700;
        color: #FFFFFF
    }
}

.direction-info__icon-wrap {
    width: 86px;
    height: 86px;
    border: solid 1px #FFFFFF;
    border-radius: 50%;
 
    text-align: center;
    padding-top: 15px;
}
.icon-train {
    width: 50px;
    height: 50px;
    text-align: center;

    z-index: 999;
}

.direction-info__num {
    margin-top: 17px;
    margin-bottom: 15px;
}
.train-num {
    font-size: 24px;
    font-weight: 500;
    text-transform: uppercase;
}

.target-direction {
    font-size: 14px;
    text-transform: capitalize;
}

.direction-info {
    background-color: #E4E0E9;
}

.target-departure {
    display: flex;
    align-items: center;
}
.target-departure__item {
    margin-right: 3px;
}

.departure-info {
    padding: 32px 40px;
}
.departure-info__path {
    display: flex;
    justify-content: space-between;
}
.departure-info__diff {
    color:#C4C4C4;
}
