@import '../../../styles/fonts';
@import '../../../styles/colors';

.ticketPages {
    background-color: $main-light;
    padding: 100px 80px;
}

.inner-wrapper {
    max-width: 1490px;
    margin: auto;
    display: flex;
    justify-content: space-between;
}