@import '../../../styles/fonts';
@import '../../../styles/colors';

.ticketPages {
    background-color: $main-light;
    padding: 150px 80px;
}

.inner-wrapper {
    max-width: 1280px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}