@import '../../../../../styles/colors';

.last-section {
    width: 360px;
}

.last-section__title {
    font-size: 30px;
    text-transform: uppercase;

    margin-bottom: 30px;
}

.last-section__item {
    margin-bottom: 17px;
}
.last-section__item:hover {
    cursor: pointer;
    transition: 0.3s;
    box-shadow: 2px 3px 3px $main-orange;
}
.last-section__item:focus {
    border: solid 1px $main-orange;
}
