.places {
    max-width: 960px;
    width: 65%;
    padding-left: 86px;
}

.places__title {
    font-size: 30px;
    font-weight: 500;
    color: #292929;
    text-transform: uppercase;

    margin-bottom: 48px;
}